.contact-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 1080px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--grey4);
    border-radius: 16px;
    color: white;
    
    padding: 20px;
}