@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.App {
  text-align: center;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -3.33vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --blue1: hsl(210, 100%, 90%);
  --blue2: hsl(210, 100%, 70%);
  --blue3: hsl(210, 100%, 50%);
  --blue4: hsl(210, 100%, 30%);
  --blue5: hsl(210, 100%, 10%);

  --bluepurple1: hsl(250, 100%, 90%);
  --bluepurple2: hsl(250, 100%, 70%);
  --bluepurple3: hsl(250, 100%, 50%);
  --bluepurple4: hsl(250, 100%, 30%);
  --bluepurple5: hsl(250, 100%, 10%);

  --yellow1: hsl(50, 100%, 90%);
  --yellow2: hsl(50, 100%, 70%);
  --yellow3: hsl(50, 100%, 50%);
  --yellow4: hsl(50, 100%, 30%);
  --yellow5: hsl(50, 100%, 10%);

  --red1: hsl(0, 100%, 90%);
  --red2: hsl(0, 100%, 70%);
  --red3: hsl(0, 100%, 50%);
  --red4: hsl(0, 100%, 30%);
  --red5: hsl(0, 100%, 10%);

  --green1: hsl(120, 100%, 90%);
  --green2: hsl(120, 100%, 70%);
  --green3: hsl(120, 100%, 50%);
  --green4: hsl(120, 100%, 30%);
  --green5: hsl(120, 100%, 10%);

  --grey1: hsl(0, 0%, 90%);
  --grey2: hsl(0, 0%, 70%);
  --grey3: hsl(0, 0%, 50%);
  --grey4: hsl(0, 0%, 30%);
}

.intro-root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.intro-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.matrix-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.intro-wrapper > *:not(.matrix-bg) {
    position: relative;
    z-index: 1;
}

.blurtext1,
.blurtext2 {
  text-shadow:
    0 0 16px rgba(0, 0, 0, 0.7),
    0 24px 48px rgba(0, 0, 0, 0.45),
    0 48px 96px rgba(0, 0, 0, 0.35);
}